/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 1128px;
  margin: 0 auto;
}
li {
  list-style: none;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.form-inline {
  display: inline-flex;
  flex-direction: row;
  gap: 40px;
}
.form-control {
  width: 272px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
  padding-left: 15px;
}
.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: palevioletred;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn:hover {
  background-color: #5c6172;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

.gallery a {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery-img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 30vh;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.info {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 34px;
  height: 40px;
}

.loader {
  position: relative;
  font-size: 48px;
  letter-spacing: 2px;
}
.loader:before {
  content: 'Loading';
  color: #fff;
}
.loader:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ff3d00;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
  top: -70px;
  animation: motion 3s ease-in-out infinite;
}

@keyframes motion {
  0%,
  50%,
  100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-100px) scale(0.3);
  }
  75% {
    transform: translateX(100px) scale(0.3);
  }
}

.hidden {
  display: none;
  opacity: 0;
}
